html
    head
        title #{name}
    body
        header.header

            section.section-titre
                h1 DEVELOPPEUR WEB FRONT END
            section.section-photo#portrait
                img(src="images/IMG_1117.PNG.jpg")
            section.section-coordonnee
                article.article-coordonnee
                    p
                        span#firstName #{firstName}
                        span#lastName #{lastName}
                        span#adresse #{adresse}
                        span#email #{email}
                        span#tel #{tel}
        main.main
            section.section-colonne-gauche
                article.article.article-competence
                    h2 COMPETENCES
                        ul
                            -const list2 = [competence1,competence2,competence3,competence4,competence5,competence6,competence7,competence8,competence9]
                            each item in list2
                                li= item




            section.section-colonne-droite
                article.article.article-experience

                    h2 EXPERIENCES
                        h3 Microsoft France Mars 2009 /2018
                            ul
                            - const list3 = [jobTitle1,jobTitle2,jobTitle3,jobTitle4, jobTitle5]
                            each item in list3
                                li= item

                        h3 Sun Microsystems Juin 2007 /2009
                            ul
                                li #{jobTitle6}
                article.article.article-formation
                    h2 FORMATION

                        h3 White Rabbit avril 2019 ;)
                            p #{formationTitle1}
                        h3 Creapole ESDI 2000 /2003
                            p #{formationTitle2}
                        h3 BAC Commercial Sciences des technologies tertiaires  2000
                            p #{formationTitle3}


