html
    head
        title #{name}
    body
        header.header

            section.section-titre
                h1 #{message}DEVELOPPEUR WEB FRONT END
            section.section-photo#portrait
                img(src="images/IMG_1117.PNG.jpg")
            section.section-coordonnee
                article.article-coordonnee
                    p
                        span#firstName #{firstName}Brice
                        span#lastName #{lastName}Danvidé
                        span#adresse #{adresse}Paris
                        span#email #{email}brice_danvide@hotmail.fr
                        span#tel #{tel}0641664106
        main.main
            section.section-colonne-gauche
                article.article article-competence
                    h2 COMPETENCES
                        ul
                            li Developpement web front end
                            li#competence1 Html
                            li#competence2 Css3
                            li#competence3 Javascript
                            li#competence4 React Js
                            li#competence5 Angular 6
                            li#competence6 Nodes Js
                            li#competence7 GitHub
                            li#competence8 Adobe Creative Suite
                            li#competence9 Anglais Professionnel

            section.section-colonne-droite
                article.article article-experience

                    h2 EXPERIENCES
                        h3 Microsoft France Mars 2009 /2018
                            ul
                                li#jobTitle1 Business Development Manager Surface
                                li#jobTitle2 Responsable Sponsoring TECHDAYS
                                li#jobTitle3 Channel Development ManagerSMS&P/SMB
                                li#jobTitle4 Technical Sales Specialiste Modern Workplace SMS&P/CTMCAM
                                li#jobTitle5 Inside Territory Manager SMS&P/CTMSud-Ouest

                        h3 Sun Microsystems Juin 2007 /2009
                            ul
                                li#jobTitle6 Commercial Sédentaire Secteur Bancaire
                article.article.article-formation
                    h2 FORMATION

                        h3 White Rabbit avril 2019 ;)
                            p#formationTitle1 Formation intensive developpeur front-end creation d application web avec Nodes/Angular/React
                        h3 Creapole ESDI 2000 /2003
                            p#formationTitle2 Communication visuelle, Design produit, Architecture d intérieur, dessin
                        h3 BAC Commercial Sciences des technologies tertiaires  2000
                            p#formationTitle3 Options Action et Communication Commerciale

